Makefile.in
aclocal.m4
autom4te.cache
config.h.in
configure
configure.scan
depcomp
install-sh
missing
src/Makefile.in
Makefile
config.h
*.log
config.status
.deps
src/Makefile
src/testprog
src/testprog.o
src/testprog_async
src/testprog_async.o
src/local_dma_test
src/local_dma_test.o
stamp-h1
src/testprog_phil
src/testprog_phil.o